<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		https://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		https://www.springframework.org/schema/aop/spring-aop.xsd">


    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <qualifier value="iam"/>
    </bean>


    <bean id="siteRepository" class="com.goldenconsultingci.erp.identityaccess.infrastructure.persistence.HibernateSiteRepository" autowire="byName"/>
    <bean id="directionRepository" class="com.goldenconsultingci.erp.identityaccess.infrastructure.persistence.HibernateDirectionRepository" autowire="byName"/>
    <bean id="roleRepository" class="com.goldenconsultingci.erp.identityaccess.infrastructure.persistence.HibernateRoleRepository" autowire="byName"/>
    <bean id="societyRepository" class="com.goldenconsultingci.erp.identityaccess.infrastructure.persistence.HibernateSocietyRepository" autowire="byName"/>
    <bean id="societyProvisionService" class="com.goldenconsultingci.erp.identityaccess.domain.model.identity.SocietyProvisionService" >
       <constructor-arg ref="societyRepository"/>
       <constructor-arg ref="roleRepository"/>
    </bean>
    <bean id="siteProvisionService" class="com.goldenconsultingci.erp.identityaccess.domain.model.identity.SiteProvisionService" >
        <constructor-arg ref="societyRepository"/>
        <constructor-arg ref="siteRepository"/>
    </bean>
    <bean id="userRepository" class="com.goldenconsultingci.erp.identityaccess.infrastructure.persistence.HibernateUserRepository" autowire="byName"/>
    <bean name="domainRegistry" class="com.goldenconsultingci.erp.identityaccess.domain.DomainRegistry" autowire="byName"/>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <bean id="passwordService" class="com.goldenconsultingci.erp.identityaccess.domain.model.identity.PasswordService"/>
    <bean id="authenticationService" class="com.goldenconsultingci.erp.identityaccess.domain.model.identity.AuthenticationService">
        <constructor-arg ref="userRepository"/>
        <constructor-arg ref="passwordEncoder"/>
        <constructor-arg ref="jWTManager"/>
    </bean>
    <bean id="settingRepository" class="com.goldenconsultingci.erp.identityaccess.infrastructure.persistence.HibernateSettingRepository" autowire="byName"/>
</beans>
