<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		https://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		https://www.springframework.org/schema/aop/spring-aop.xsd">
<!--    <aop:aspectj-autoproxy/>-->
<!--    <context:annotation-config/>-->
<!--    <tx:annotation-driven transaction-manager="txManager"/>-->

<!--    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">-->
<!--        <property name="sessionFactory">-->
<!--            <ref bean="sessionFactory"/>-->
<!--        </property>-->
<!--    </bean>-->
    <aop:aspectj-autoproxy/>

    <context:annotation-config />
    <context:property-placeholder location="classpath:/WEB-INF/classes/golden/extension/golden_erp-global.properties"/>

<!--    <tx:annotation-driven  transaction-manager="transactionManager"/>-->

<!--    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--        <property name="hibernateProperties">-->
<!--            <props>-->
<!--                &lt;!&ndash; your hibernate properties &ndash;&gt;-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="sessionProvider" class="com.goldenconsultingci.erp.common.spring.hibernate.SpringHibernateSessionProvider">-->
<!--        <property name="sessionFactory">-->
<!--            <ref bean="sessionFactory"/>-->
<!--        </property>-->
<!--    </bean>-->


    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${db.driver}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="user" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="minPoolSize" value="${db.pool.min}"/>
        <property name="maxPoolSize" value="${db.pool.max}"/>
        <property name="acquireIncrement" value="5"/>
        <property name="idleConnectionTestPeriod" value="3000"/>
        <property name="maxStatements" value="50"/>
        <property name="checkoutTimeout" value="10000"/>
    </bean>
    <context:component-scan base-package="com.goldenconsultingci.erp.common.spring.security"/>
    <bean id="webConfig" class="com.goldenconsultingci.erp.common.spring.security.WebConfig" autowire="byName"/>
    <bean id="securityConfig" class="com.goldenconsultingci.erp.common.spring.security.SecurityConfig" autowire="byName"/>
    <bean id="sessionProvider" class="com.goldenconsultingci.erp.common.spring.hibernate.SpringHibernateSessionProvider" autowire="byName" />

    <bean id="jWTManager" class="com.goldenconsultingci.erp.common.spring.security.JWTManager" autowire="byName"/>
<!--    <bean id="securityService" class="com.goldenconsultingci.erp.common.spring.security.SecurityService"/>-->
</beans>
